/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
**/node_modules/
**/dist/
*.tsbuildinfo
/coverage/
/.hcb/
/hcb.feature.yaml
/hcb.target.yaml
/.tmp/
*.log
.env
.env.*
